
.bs_info_btn {
	background: url(img/info-icon.png) no-repeat; width:16px; height:16px;
	cursor:pointer;
	margin-top:-15px;
}

.bs_info {
	position:relative;
	display:none; 
	font-size:12px; 
	font-style:italic;
	background:#FFFFE2;
	padding:10px;
	min-width:300px;
	margin-left:30px;
	top:-30px;
	z-index:999;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:#ccc solid 1px;
	box-shadow:2px 2px 8px rgba(0, 0, 0, 0.4); -moz-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.bookshelf-slider-adm .wp-list-table select {
	min-width:180px;	
}

.bookshelf-slider-adm .wp-list-table input[type=text] {
	min-width:60px;	
}

.bookshelf-slider-adm .wp-list-table small {
	font-size:11px;
	line-height:13px;
}