/* panel title */

.panel_title.sk01_md { 
	background:#93643a url(../assets/bookshelf_skin01_top_bg.jpg) repeat; color:#e4b173; width:260px; height:54px; text-align:center; margin:0 auto; overflow: hidden;
    
}

.selected_title_box.sk01_md { text-align:center; display:none; }
.selected_title.sk01_md { 
	color:#e4b173; padding:2px 6px; background:#000; border:#444 solid 1px; font-size:35px; font-family:Arial, Helvetica, sans-serif; 
	height:35px; line-height:35px; margin-top:07px; margin-left:45%; display:block; float:center;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:#555 solid 1px; 
}


/* menu top */

.bs_menu_top.sk01_md { float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:12px; margin:15px 15px 0px auto; letter-spacing:1px; }
.bs_menu_top.sk01_md ul { list-style:none; margin:0; padding:0; margin-top:0px; margin-left:10px; }
.bs_menu_top.sk01_md ul li { 
	list-style:none; margin:0; padding:0; display:block; float:left; margin-right:5px; 
	display:block; padding:4px 8px; outline:none; background:transparent url(../assets/menutopli_bg.png) repeat;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:#d39e6b solid 1px; cursor:pointer;
	box-shadow:1px 1px 4px rgba(0, 0, 0, 0.4); -moz-box-shadow:1px 1px 4px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	}

.bs_menu_top.sk01_md ul li a { 
	color:#f5c994 !important; text-decoration:none; display:block; padding:2px 2px; outline:none; text-shadow:1px 1px 1px #000;
}
.bs_menu_top.sk01_md ul li a:hover { 
	color:#f5c994 !important; text-decoration:none; display:block; padding:2px 2px; outline:none; text-shadow:1px 1px 1px #000;
}


/* panel slider */

.panel_slider.sk01_md {
	position:relative; left: 0px;
    top: 60px; border-bottom:1px solid #333; border-bottom-color:#aa7f55; width:260px; height:170px; margin:auto; padding-top:0px; overflow: hidden;
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3);
	background:#93643a url(../assets/bookshelf_skin01_bg_md.jpg) repeat; background-position:0 30px;
}
.panel_slider.sk01_md a,visited { color:#777; text-decoration:none; }
.panel_slider.sk01_md a:hover { color:#333; }
.panel_slider.sk01_md img { border:none; }
.panel_items.sk01_md {}


/* panel bar */

.panel_bar.sk01_md { 
	background:#93643a url(../assets/bookshelf_skin01_bottom_bg.jpg) repeat-x left bottom; width:260px; height:60px; text-align:center; margin:0 auto;
	border-top:none; font-size:22px; font-family:Arial, Helvetica, sans-serif; letter-spacing:0px;
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3);
	position:relative; left: 0px;
    top: -801px; overflow:hidden;
}

.button_items.sk01_md { margin-top:10px; position:relative; height:20px; /* display:none; */ }
.button_bar.sk01_md { margin-left:10px; float:left; cursor:pointer; display:block; height:30px; }
.button_bar.sk01_md a { text-decoration:none !important; color:	#000000 !important; text-shadow:1px 1px 1px #000 !important; outline:none !important; }
.button_bar.sk01_md a:hover { text-decoration:none; color:#f5cc9a; text-shadow:1px 1px 1px #000; outline:none; }

.button_bar_active.sk01_md { text-shadow:1px 1px 1px #fff; text-decoration:underline;  }


/* slides */

.slide_animate.sk01_md { position:relative; margin:0; padding:0; left:0px; top:0px; float:left; background:url(../assets/bookshelf_skin01_bg_md.jpg) repeat; background-position:0 30px; display:block; }
.slide_animate.sk01_md img { display:block !important; }


/* products */

.products_box.sk01_md { height:20px; margin-left:20px; }
.bs_product.sk01_md { float:left !important; margin-right:30px; margin-top:102px !important; height:107px; position:relative !important; display:block; direction:ltr !important; }
.bs_product.sk01_md img { display:block !important; border:none !important; cursor:pointer; margin:0 !important; padding:0 !important; }

.bs_product_title.sk01_md { 
	position:absolute; z-index:1; text-align:center !important; color:#ffffff; background:#c33b4e; overflow:hidden; max-height:11px; line-height:14px !important; min-width:5px; max-width:80%;
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.4); -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	font-size:11px; padding:1px 5px 3px 5px; font-family:Arial, Helvetica, sans-serif;
}
.bs_product_description.sk01_md { display:none; }


/* arrows navigate */

.bookshelf_slider.sk01_md #more_minus_box {
	z-index:1; position:absolute; bottom:50px; right:10px; width:24px; height:50px; background:url(../assets/nav_bg.png) repeat; padding:2px; opacity:0;
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.7); -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

.bookshelf_slider.sk01_md #icon_minus {
	background:#000; width:24px; height:24px; border:none; background:transparent url(../assets/icon_minus.png) no-repeat; cursor:pointer; display:block; margin-bottom:2px;
}
.bookshelf_slider.sk01_md #icon_more {
	background:#000; width:24px; height:24px; border:none; background:transparent url(../assets/icon_more.png) no-repeat; cursor:pointer; display:block;
}

.img_thumb.sk01_md { position:relative; top:0 }