/* panel title */

.panel_title.sk02 { 
	background:#93643a url(../assets/bookshelf_skin02_top_bg.jpg) repeat; color:#e4b173; width:260px; height:54px; text-align:center; margin:0 auto; overflow: hidden;
}

.selected_title_box.sk02 { text-align:left; display:none; }
.selected_title.sk02 { 
	color:#e4b173; padding:2px 8px; background:#000; border:#444 solid 1px; font-size:14px; font-family:Arial, Helvetica, sans-serif; 
	height:20px; line-height:20px; margin-top:15px; margin-left:15px; display:block; float:left;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:#555 solid 1px;
}


/* menu top */

.bs_menu_top.sk02 { float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:12px; margin:15px 15px 0px auto; letter-spacing:1px; }
.bs_menu_top.sk02 ul { list-style:none; margin:0; padding:0; margin-top:0px; margin-left:10px; }
.bs_menu_top.sk02 ul li { 
	list-style:none; margin:0; padding:0; display:block; float:left; margin-right:5px; 
	display:block; padding:4px 8px; outline:none; background:transparent url(../assets/menutopli_bg2.png) repeat;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:#d39e6b solid 1px; cursor:pointer;
	box-shadow:1px 1px 4px rgba(0, 0, 0, 0.4); -moz-box-shadow:1px 1px 4px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	}

.bs_menu_top.sk02 ul li a { 
	color:#000 !important; text-decoration:none; display:block; padding:2px 2px; outline:none; text-shadow:1px 1px 1px #e4b173;
}
.bs_menu_top.sk02 ul li a:hover { 
	color:#000 !important; text-decoration:none; display:block; padding:2px 2px; outline:none; text-shadow:1px 1px 1px #e4b173;
}


/* panel slider */

.panel_slider.sk02 {
	position:relative; border-bottom:1px solid #333; border-bottom-color:#aa7f55; width:260px; height:170px; margin:auto; padding-top:0px; overflow: hidden;
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3);
	background:#93643a url(../assets/bookshelf_skin02_bg.jpg) repeat; background-position:0 30px;
}
.panel_slider.sk02 a,visited { color:#777; text-decoration:none; }
.panel_slider.sk02 a:hover { color:#333; }
.panel_slider.sk02 img { border:none; }
.panel_items.sk02 { }


/* panel bar */

.panel_bar.sk02 { 
	background:#c4ae8e url(../assets/bookshelf_skin02_bottom_bg.jpg) repeat-x left bottom; width:260px; height:60px; text-align:center; margin:0 auto;
	border-top:none; font-size:12px; font-family:Arial, Helvetica, sans-serif; letter-spacing:1px;
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3);
	position:relative; overflow:hidden;
}
.button_items.sk02 { margin-top:10px; position:relative; height:20px; }
.button_bar.sk02 { margin-left:10px; float:left; cursor:pointer; display:block; }
.button_bar.sk02 a { text-decoration:none !important; outline:none !important; color:#000 !important; text-shadow:1px 1px 1px #e4cfb7 !important; }
.button_bar.sk02 a:hover { text-decoration:none; outline:none; color:#000; text-shadow:1px 1px 1px #e4cfb7; }


/* slides */

.slide_animate.sk02 { position:relative; margin:0; padding:0; left:0px; top:0px; float:left; background:url(../assets/bookshelf_skin02_bg.jpg) repeat; background-position:0 30px; display:block; }
.slide_animate.sk02 img { display:block !important; }


/* products */

.products_box.sk02 { height:20px; margin-left:20px; }
.bs_product.sk02 { float:left !important; margin-right:30px; margin-top:36px !important; height:107px; position:relative !important; display:block; direction:ltr !important; }
.bs_product.sk02 img { display:block !important; border:none !important; cursor:pointer; margin:0 !important; padding:0 !important; }

/*
.bs_product_title.sk02 { 
	position:absolute; z-index:999; text-align:center !important; color:#ffffff; background:#c33b4e; overflow:hidden; max-height:100% !important; line-height:14px !important; min-width:5px; max-width:80%;
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.4); -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	font-size:11px; padding:1px 5px 3px 5px; font-family:Arial, Helvetica, sans-serif;
}
.bs_product_title.sk02:hover {
	background:none !important;
	background-color:#000000 !important;
}
*/

.bs_product_title.sk02 { 
	position:absolute; z-index:1; text-align:center !important; color:#ffffff; background:#c33b4e; overflow:hidden; max-height:11px; line-height:14px !important; min-width:5px; max-width:80%;
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.4); -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	font-size:11px; padding:1px 5px 3px 5px; font-family:Arial, Helvetica, sans-serif;
}


.bs_product_description.sk02 { display:none; }


/* arrows navigate */

.bookshelf_slider.sk02 #more_minus_box {
	z-index:1; position:absolute; bottom:50px; right:10px; width:24px; height:50px; background:url(../assets/nav_bg.png) repeat; padding:2px; opacity:0;
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.7); -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

.bookshelf_slider.sk02 #icon_minus {
	background:#000; width:24px; height:24px; border:none; background:transparent url(../assets/icon_minus.png) no-repeat; cursor:pointer; display:block; margin-bottom:2px;
}
.bookshelf_slider.sk02 #icon_more {
	background:#000; width:24px; height:24px; border:none; background:transparent url(../assets/icon_more.png) no-repeat; cursor:pointer; display:block;
}

.img_thumb.sk02 { position:relative; top:0 }